
body {
    font-family: "Press Start 2P", system-ui;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
font-size: 10px;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: black;
    border-radius: 8px;
    box-shadow: 0 0 10px white;
}

h1, h2 {
    font-family: "Press Start 2P", system-ui;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

.header {
    background-color: black;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 0 2px white;
    font-family: "Press Start 2P", system-ui;
}

.header-button-right {
    background-color: black;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 0 2px white;
    font-family: "Press Start 2P", system-ui;
}

.header-button-right:hover {
    background-color: #4CAF50; 
    color: white; 
}


.header-button:hover {
    background-color: #4CAF50; 
    color: white; 
}

.header-buttons {
    display: flex;
    gap: 10px;
}

#dynamicTitle {
    font-size: 24px;
    margin: 0;
}

.game-details-info,
.game-info,
.game-support {
    margin-bottom: 20px;
    padding: 10px;
    background-color: black;
    border-radius: 4px;
    color: white;
    box-shadow: 0 0 4px white;
}

.game-details-info h2,
.game-info h2,
.game-suppport h2 {
    margin-bottom: 10px; /* Bottom margin for the heading */
}

.game-details-info p,
.game-info p, 
.game-support p{
    margin: 5px 0; /* Margin for paragraphs */
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: black;
    color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 0 4px white;
    border: #fff;
}

.modal-button {
    color: #fff;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.confirm-btn {
    background-color: black;
    color: white;
    box-shadow: 0 0 4px white;
    font-family: "Press Start 2P", system-ui;
}

.cancel-btn {
    background-color: black;
    color: white;
    box-shadow: 0 0 4px white;
    font-family: "Press Start 2P", system-ui;
}

.confirm-btn:hover {
    opacity: 0.8;
    background-color: black;
    color: green;
    box-shadow: 0 0 4px green;
    font-family: "Press Start 2P", system-ui;
}

.cancel-btn:hover {
    opacity: 0.8;
    background-color: black;
    color: red;
    box-shadow: 0 0 4px red;
    font-family: "Press Start 2P", system-ui;
}

.hearts {
    max-width: 100%;
    height: 20px;
    display: block;
}
a {
    color: white; /* Default color for links */
    text-decoration: none; /* Remove underline */
}

a:hover {
    color: #4CAF50; /* Change color on hover */
}