body {
  font-family: "Press Start 2P", system-ui;
  font-size: 10px;
  background-color: black;
  color: white;
  padding: 20px;
  margin: 0; 
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 20px solid transparent;
  box-sizing: border-box;
  padding: 0 20px;
  background-color: black;
}

.header h1 {
  font-weight: 400;
  font-style: normal;
  margin: 0;
  font-family: "Press Start 2P", system-ui;
  flex-grow: 1;
}

.startNewGame {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 20px; 
}

.startNewGame-button {
  background-color: black;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 0 0 2px white;
  font-family: "Press Start 2P", system-ui;
  margin-left: 20px; 
}

.startNewGame-button:hover {
  background-color: #4CAF50; 
  color: white;
}


.container {
  margin-top: 100px; 
  padding: 20px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  background-color: black;
  border-radius: 8px;
  box-shadow: 0 0 10px white;
  display: flex;
  flex-direction: column; 
}

.filterBox {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.filterBox label {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
}

.filterBox input[type="text"],
.filterBox select {
  width: 100%; 
  padding: 8px;
  border: 1px solid white; 
  background-color: black;
  color: white;
  border-radius: 4px;
  font-size: 14px;
  box-sizing: border-box; 
}

.gamesList {
  background-color: black;
}

.game {
  margin-top: 20px;
  padding: 10px;
  background-color: black;
  color: white;
  border-radius: 4px;
  box-shadow: 0 0 5px white;
  width: 100%; 
  box-sizing: border-box;
}

.game h3 {
  color: #333;
  margin-bottom: 5px;
}

.game p {
  color: white;
}

hr {
  border: none;
  border-top: 1px solid #ccc;
  margin: 10px 0;
}

a {
  color: white; 
  text-decoration: none; 
}

a:hover {
  color: #4CAF50; 
}

.game img {
  max-width: 100%;
  height: 20px;
  display: block;
  margin-top: 10px; 
  border-radius: 4px; 
}

@media (max-width: 768px) {
  .header {
      height: auto;
      flex-direction: column;
      align-items: flex-start;
  }

  .startNewGame {
      flex-direction: column;
      align-items: flex-start;
  }

  .startNewGame-button {
      margin-top: 10px; 
      margin-right: 0;
  }

  .header h1 {
      text-align: center;
      margin-top: 10px; 
  }

  .container {
      padding: 10px;
      margin-top: 80px; 
  }

  .filterBox {
      margin-bottom: 10px; 
  }
}
